/* Tagek */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(30, 30, 30);
}
section{
    height: 90vh;
}

/* Osztályok */
.bg-custom-blue{
    background-color: #073a4b;
    /* background-color: #073a4b00; */
}
.btn-custom-blue{
    background-color: #0c566e;
    padding: 10px;
}
.btn-custom-blue:hover{
    background-color: #073a4b;
}
.nav-logo{
    width: 15vh;
}
.text-justify{
    text-align: justify;
}

/* Azonosítók */


/* Töréspontok */
    /* Telefon */
@media only screen and (max-width: 700px) {
    #kezdolap{
        padding-top: 10vh;
    }
} 
    /* Tablet */
@media only screen and (max-width: 990px) {
    #kezdolap{
        padding-top: 10vh;
    }
}   
    /* Asztal */
@media only screen and (min-width: 990px) {
    #kezdolap{
        padding-top: 20vh;
    }
} 

/* Animációk */
