/* Tagek */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

}

header {
    position: fixed;
    width: 100%;
    opacity: 100%;
    z-index: 100;
}

section {
    animation: fadeIn 1s;
    height: 100vh;
    padding-top: 12vh;
    scroll-behavior: smooth;
    scrollbar-color: red;
}

h2{
    font-size:120px;
	letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
				8px 8px #ff1fc7,
				20px 20px #000000;
}

/* Osztályok */

.bg-custom-blue {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    box-shadow: 0px 0px 10px black;
}

.btn-custom-fade{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.btn-custom-blue {
    background-color: #0c566e;
    padding: 10px;
}

.btn-custom-blue:hover {
    background-color: #073a4b;
}

.nav-logo {
    width: 15vh;
}

.text-justify {
    text-align: justify;
}

.solution_cards_box{
    position: relative;
    top: -10vh;
    z-index: 0;
}

.szoveg{
    color: white;
    border-radius: 10px;
}


/* Azonosítók */


/* Töréspontok */


/* Asztal */

@media only screen and (min-width: 990px) {
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }

    #kezdolap {
        padding-top: 25vh;
    }
    .szoveg{
        font-size: 17pt
    }
}


/* Tablet */

@media only screen and (max-width: 990px) {
    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }
    #kezdolap {
        padding-top: 17vh;
    }
    .ajanlataink{
        margin-top: 0vh;
        margin: 30px 0 120px 0;
    }
    .szoveg{
        font-size: 17pt
    }
}


/* Telefon */

@media only screen and (max-width: 770px) {
    #kezdolap {
        padding-top: 15vh;
    }
    .ajanlataink{
        margin-top: 0vh;
        margin-bottom: 100px
    }
    .szoveg{
        font-size: 14pt
    }
}


/* Animációk */

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}